<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <bean id="stdObj" class="com.springdemo.beanwiring.Student" autowire="byName">
   	<property name="name" value="Mahesh"></property>
   </bean>
   <bean id="studentObj" class="com.springdemo.beanwiring.Student">
   	<property name="name" value="Praveen"></property>
   </bean>
   <bean id="bookObj" class="com.springdemo.beanwiring.Book">
   		<property name="title" value="House of hades"></property>
   </bean>
   <bean id="bookRef" class="com.springdemo.beanwiring.Book">
   	<property name="title" value="Game of thrones"></property>
   </bean>
   <bean id="collageObj" class="com.springdemo.beanwiring.Collage" autowire="constructor">
   	<property name="cName" value="SAU"></property>
   </bean>
   
   </beans>